.button{
    width: 130px;
    height: 45px;
    background-color: rgb(158, 112, 112);
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
}
.input{
    height: 45px;
    border-radius: 20px;
    padding: 10px;
}
