.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    background-color: rgba(0, 0, 0, .3);
}
.header .cart{
    width: 100px;
    height: 45px;
    background-color: rgb(158, 112, 112);
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
}
.bg_img img{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    object-fit: cover;

}